.channel-preview {
    font: inherit;
    border: 2px solid transparent;
    border-radius: 8px;
    background: none;
    text-align: left;
    padding: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 0.9em;
    line-height: 1.2em;
    cursor: pointer;
  }
  
  .channel-preview_selected {
    background: #fff;
    border-color: #005fff;
    cursor: auto;
  }
  
  .channel-preview__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .channel-preview__main {
    flex-grow: 1;
  }
  
  .channel-preview__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .channel-preview_selected .channel-preview__header {
    color: #005fff;
  }
  
  .channel-preview__timestamp {
    font-weight: normal;
    color: #858688;
  }
  
  .channel-preview__message {
    max-height: 2.4em;
    overflow: hidden;
    color: #858688;
  }
  
  .channel-preview__message p {
    margin: 0;
  }