.channel-preview {
  font: inherit;
  border: 2px solid transparent;
  border-radius: 8px;
  background: white;
  width: 100%;
  text-align: left;
  padding: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 0.9em;
  line-height: 1.2em;
  cursor: pointer;
}

/* Adjust font size and padding on smaller screens */
@media (max-width: 940px) {
  .channel-preview {
    width: 78%;
    font-size: 0.8em; /* Smaller font size for small devices */
    padding: 6px; /* Reduce padding */
    gap: 10px; /* Smaller gap */
  }
}

/* Adjust font size and padding on smaller screens */
@media (max-width: 600px) {
  .channel-preview {
    width: 58%;
    font-size: 0.8em; /* Smaller font size for small devices */
    padding: 6px; /* Reduce padding */
    gap: 10px; /* Smaller gap */
  }
}

/* Adjust for very small screens */
@media (max-width: 480px) {
  .channel-preview {
    width: 47%;
    flex-direction: column; /* Stack elements vertically */
    align-items: start;
  }
}


.channel-preview_selected {
  background: #fff;
  border-color: #005fff;
  cursor: auto;
}

.channel-preview__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.channel-preview__main {
  flex-grow: 1;
}

.channel-preview__header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 4px;
}

.channel-preview_selected .channel-preview__header {
  color: #005fff;
}

.channel-preview__timestamp {
  font-weight: normal;
  color: #858688;
}

.channel-preview__message {
  max-height: 2.4em;
  overflow: hidden;
  color: #858688;
}

.channel-preview__message p {
  margin: 0;
}